.header-container-padre {
    
    margin: 40px 20px 40px 20px;
    /* Arriba | Derecha | Abajo | Izquierda */
  }

.header-container-padre>*{
  display: inline-block;
  font-size: 25px;
}

footer{
    margin: 40px 20px 40px 20px;
}

footer>*{
  display: inline-block;
  font-size: 20px;
}
.logo{
  width: 80%;
}

.menu{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}

li a{
  color: #16d116;
}

.navbar {
    width: 70%;
    text-align: center;
    font-family: sans-serif;
  }
 
.actions {
  
  width: 15%;
  text-align: right;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.sing-in{
  color: #67b54b;
}

.btn-started{
  text-decoration: none;
  padding: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 13px;
  color: #ffffff;
  background-color: #67b54b;
  border-radius: 5px;
}