/** variables colores */

$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;

$red: #eb2d2d;
$purple: #8e0be6;


/** fuentes */
$font-title: "Alegreya", serif;

$font-sub: "Arial", sans-serif;